In [8]:
import sys
path = ".\\code"
sys.path.insert(1, path)

In [9]:
import model_interface
import config
import os
import pandas as pd

In [10]:
file_path = os.path.join(config.ConfigPath().path_to_data,"clean_data.csv")

In [11]:
data = pd.read_csv(file_path)[0:100]

In [12]:
model = model_interface.Model_interface()

In [13]:
model.fit_dataframe(data)

In [14]:
model.predict_df(data)

,Unnamed: 0,id,winner_side,ct_score,t_score,ct_players_alive,t_players_alive,ct_equipment_value_sum,t_equipment_value_sum,ct_health_sum,...,ct_tec_9s,t_tec_9s,ct_r8_revolvers,t_r8_revolvers,ct_desert_eagles,t_desert_eagles,round_time_remaining,predict_prob_value0,predict_prob_value1,predict_value
0,0,7,1,0,0,5,5,3550,4800,500,...,0,0,0,0,0,0,114.0,0.0,1.0,1
1,1,8,1,0,0,5,5,3750,4800,500,...,0,0,0,0,0,0,111.0,0.0,1.0,1
2,2,9,1,0,0,5,5,4450,4800,500,...,0,0,0,0,0,0,108.0,0.0,1.0,1
3,3,10,1,0,0,5,5,4450,4800,500,...,0,0,0,0,0,0,105.0,0.0,1.0,1
4,4,11,1,0,0,5,5,4450,4800,500,...,0,0,0,0,0,0,102.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,120,0,0,3,5,4,27450,18450,455,...,0,0,0,0,0,1,52.0,1.0,0.0,0
96,96,121,0,0,3,5,3,27450,15000,445,...,0,0,0,0,0,1,49.0,1.0,0.0,0
97,97,122,0,0,3,5,3,27450,15000,445,...,0,0,0,0,0,1,46.0,1.0,0.0,0
98,98,123,0,0,3,5,2,27450,10000,445,...,0,0,0,0,0,1,43.0,1.0,0.0,0
99,99,124,0,0,3,5,2,27450,10000,445,...,0,0,0,0,0,1,40.0,1.0,0.0,0